.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .nav-bar{
  width:100%;
  height:70px;
  background-color:rgb(1, 1, 1);
  display: flex;
  align-items: center;
  font-size: 14pt;
} */

/* h1 {
  color:rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin-left:60px;
  text-decoration:none;
} */

/* .navigation-links {
  color: white;
  text-decoration: none;
  font-size: 14pt;
  padding-left: 15px;
} */

#home-page-table-1 {
  margin: auto;
}

#home-page-img {
  max-width: 60px;
  max-height: 60px;
  margin-left: 20px;
}

td{
  vertical-align: middle;
}

#home-page-table-2 {
  margin:auto;
  border-collapse: separate;
  border-spacing: 20px;
}

td {
  max-width: 400px;
  height: 40pt;
}

.outer-border {
  /* text-align: center; */
  margin: auto;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 16pt;
  margin-bottom: 16pt;
}